@import '/static/css/root.css';

/* About  */
.about-text-container{
    flex: 0 0 60%;
    max-width: 60%;
}
.about-image-container{
    flex: 0 0 40%;
    max-width: 40%;
}
.main-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: var(--m-2-5);
}
.about-container-text h2{
    margin-bottom: var(--m-1);
    font-family: var(--title-font);
}
.about-container-text p{
    margin-bottom: var(--m-2);
}
.about-image-container{
    box-shadow: unset ;
}
.about-button a{
    font-family: var(--title-font);
}


/* project  */

.project .project-filter{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: var(--m-2-5);
}
.project .project-filter button{
    border: none;
    background-color: transparent;
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
    margin: 0 var(--m-0-75);
    cursor: pointer;
    white-space: nowrap;
    transition: .3s;
}
.project .project-filter button.active{
    color: var(--color-primary);
    position: relative;
}
.project .project-filter button.active::before{
    content: '';
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--color-primary);
    border-radius: 50%;
}
.project-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: var(--m-1-5);
}
.project-item-inner{
    position: relative;
    overflow: hidden;
}
.project-item-inner{
    background-color: var(--color-white);
    overflow: hidden;
    /* border-radius: var(--border-radius); */
    transform: translateY(0);
    transition: .3s;
}
.project-item-inner:hover{
    transform: translateY(-0.98rem);
}
.project-item-thumbnail img {
    display: block;
    object-fit: cover;
    opacity: 0.8;
    filter: contrast(75%) grayscale(1);
    transition: filter 1000ms, opacity 500ms;
}
.project-item-inner:hover .project-item-thumbnail img{
    opacity: 1;
    filter: none;
}

.project-item-inner:hover h3, .project-item-inner:hover span{
    opacity: 1;
    transform: translateY(0);
}

.project-detail{
    background-color: var(--background-color);
    padding: 1rem 1rem .5rem 1rem;
    height: 100%;
}
.project-site{
    text-transform: uppercase;
    color: var(--grey-text);
    font-size: var(--small-font-size);
    transition: color 500ms;
    font-family: "Montserrat";
}
.project-description{
    margin: 1em 0;
}
.project-tags{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0;
}
.project-tags .tag{
    margin-right: 2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    list-style: disc;
    letter-spacing: 0.15em;
}
.project-links{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin: 0 -1rem;
}
.project-links a{
    margin: 1rem;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.projects, .articles{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: var(--m-2-5) auto 0 auto;
}
.projects a, .articles a{
    text-transform: uppercase;
    font-family: var(--title-font);
}

/* Blog  */
.blog-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    display: flex;
}
.blog-item .inner{
    background-color: var(--color-white);
    overflow: hidden;
    border-radius: var(--border-radius);
    transform: translateY(0);
    transition: .3s;
}
.blog-item .inner:hover{
    transform: translateY(-0.98rem);
}
.blog-item .thumb{
    position: relative;
    overflow: hidden;
}
.blog-item .thumb img{
    transform: scale(1);
    transition: .3s;
}
.blog-item .thumb:hover img{
    transform: scale(1.1);
    transition: .3s;
}
.blog-item .category{
    background: var(--color-primary);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    color: #fff;
    font-size: var(--small-font-size);
    padding: 0.12rem 0.5rem;
    position: absolute;
    left: 1.25rem;
    top: 0;
    z-index: 1;
    font-family: var(--title-font);
}
.blog-item .details{
    padding: 1.25rem;
}
.blog-item .details .title{
    line-height: 1.2;
    font-family: var(--title-font);
}
.blog-item .details p{
    line-height: 1.2;
    margin-top: var(--m-1);
}
.blog-item .details a:hover{
    color: var(--color-primary);
}

/* Service  */

.services .service-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    display: flex;
    padding: var(--card-padding);

}
.services .service-item .service-item-inner{
    border-radius: var(--border-radius);
    text-align: center;
    padding: var(--card-padding);
    transform: translateY(0);
    transition: .3s;
}

.services .service-item .service-item-inner:hover{
    transform: translateY(-0.625rem);
}
.services .service-item img{
    margin-bottom: var(--m-0-75);

}
.service-item h3{
    margin-bottom: var(--m-0-5);
    color: #212121;
}
.service-item p{
    margin-bottom: var(--m-0-75);
    color: #212121;
}
.text{
    text-align: center;
    margin-top: var(--m-1-5);
}
.text a{
    background: var(--color-primary);
    border-radius: 30px;
    color: #fff;
    font-size: .6rem;
    padding: .2rem .5rem;
}

/* Contact  */
/* .contact-box{
    flex: 0 0 50%;
    max-width: 50%;
} */
.contact-form{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact-inputs{
    display: grid;
    /* row-gap: 2rem; */
    margin-bottom: var(--m-2-5);
}
.contact-content{
    position: relative;
    height: 4.5rem;
    border-bottom: 2px solid var(--color-gray);
}
.contact-content span{
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    height: 2px;
    width: 0;
    transition: .5s;
    background: var(--color-primary);
}
.contact-input:focus ~ span{
    width: 100%;
}
.contact-input{
    position: absolute;
    caret-color: var(--color-primary);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    margin-top: 1rem;
    background: none;
    outline: none;
    border: none;
    z-index: 1;
}
.contact-label{
    position: absolute;
    top: .50rem;
    width: 100%;
    font-size: var(--small-font-size);
    transition: .3s;
}
.content-area{
    height: 10rem;
}
.content-area textarea{
    resize: none;
}
.contact-form button{
    border: none;
    outline: none;
}
.contact-input:focus + .contact-label{
    top: .11rem;
    left: 0;
    z-index: 1;
    color: var(--color-primary);
    margin-bottom: var(--m-2);
}

/* Customize Theme  */
.customize-theme{
    background: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: var(--small-font-size);
    display: none;
}
.customize-theme .card{
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--border-radius);
    width: 40%;
    max-width: 600px;
}

.customize-theme .font-size{
    margin-top: var(--m-2-5);
}

.customize-theme .font-size> div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-light);
    padding: .6rem 1rem;
    border-radius: var(--border-radius);
}
.customize-theme .choose-size{
    background: hsl(252, 100%, 90%);
    height: 0.35rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customize-theme .choose-size span{
    width: 1rem;
    height: 1rem;
    background: hsl(252, 100%, 90%);
    border-radius: 50%;
    cursor: pointer;
}
.customize-theme .choose-size span.active{
    background: var(--color-primary);
}
.customize-theme .color{
    margin-top: var(--m-2);
}
.customize-theme .choose-color{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: .6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-color span{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: var(--color-primary);
}
.customize-theme .choose-color span:nth-child(1){
    background: hsl(252, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(2){
    background: hsl(52, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(3){
    background: hsl(352, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(4){
    background: hsl(152, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(5){
    background: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active{
    border: 5px solid #fff;
}
.customize-theme .background{
    margin-top: var(--m-2);
}
.customize-theme .choose-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .6rem;
}
.customize-theme .choose-bg > div{
    padding: .8rem .2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.4rem;
    cursor: pointer;
}
.customize-theme .choose-bg > div.active{
    border: 2px solid var(--color-primary);
}
.customize-theme .choose-bg .bg-1{
    background: hsl(252, 30%, 92%);
    color: hsl(252, 30%, 17%);
}
.customize-theme .choose-bg .bg-2{
    background: hsl(252, 30%, 17%);
    color: #fff;
}
.customize-theme .choose-bg .bg-3{
    background: hsl(252, 30%, 10%);
    color: #fff;
}
.customize-theme .choose-bg > div span{
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
}


/* media queries  */
@media only screen and (max-width: 1200px) {
    .customize-theme .card{
        width: 50vw;
    }
}

@media only screen and (max-width: 968px)  {
    .about-image-container{
        text-align: center;
    }
    .about-text-container{
        margin-bottom: var(--m-2-5);
    }
    .project-item,
    .blog-item,
    .services .service-item{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: var(--m-2-5);
    }
    .customize-theme .card{
        width: 58vw;
    }
}

@media only screen and (max-width: 768px) {
    .about-text-container,.about-image-container{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-button{
        display: grid;
        gap: 1rem;
        margin-bottom: var(--m-2-5);
    }
    .about-button a{
        text-align: center;
    }
    body{
        margin: var(--header-height) 0 0 0;
    }
    .container{
        max-width: 592px;
    }
    .nav{
        height: var(--header-height);
    }
    .nav-list{
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .nav-menu{
        position: fixed ;
        background: var(--color-white);
        width: 80%;
        height: 100%;
        top: 0%;
        right: 100%;
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        z-index: 100;
        transition: .3s;
    }
    .show-menu {
        right: 0;
    }
    .nav-close,
    .nav-toggle{
        display: inline-flex;
    }
    .icon-burger{
        display: block;
    }
    .contact-data,
    .contact-form,
    .project-item,
    .blog-item,
    .services .service-item,
    .about-content .about-text,
    .about-content .skills{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fact-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .about-content .about-text{
        margin-bottom: var(--m-1-5);
    }
    .contact-data,
    .blog-item{
        margin-bottom: var(--m-2-5);
    }
    .customize-theme .card{
        width: 75vw;
    }
}

@media only screen and (max-width: 576px) {
    .blog-item,
    .project-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog-item .inner,
    .project-item-inner{
        max-width: 380px;
        margin: 0 auto;
    }
    .customize-theme .card{
        width: 96vw;
        padding: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .fact-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
}