.project-item-inner {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}
.project-description p{
    background: var(--color-white);
}
.project-item-inner:nth-of-type(2n+1) .project-content{
    text-align: right;
}
@media (max-width: 1080px){
    .project-item-inner:nth-of-type(2n+1) .project-content {
        grid-column: 5 / -1;
    }
}

.project-item-inner:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

@media (max-width: 1080px){
    .project-item-inner .project-content {
        grid-column: 1 / 9;
    }
}
.project-item-inner .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.project-item-inner:nth-of-type(2n+1) .project-item-thumbnail{
    grid-column: 1 / 8;
}

.project-item-inner .project-item-thumbnail{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}