:root {
  --header-height: 4rem;

  --primary-color-hue: 352;
  --dark-color-lightness: 95%;
  --light-color-lightness: 15%;
  --white-color-lightness: 20%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 52%, 52%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));

  --body-font: "Open Sans", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --h1--font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  --logo-font-size: 1.25rem;
  --header-font-size-h1: 4rem;

  --font-small: 200;
  --font-medium: 400;
  --font-semi-bold: 600;
  --font-bold: 800;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;

  --card-padding: 1.9rem 0.95rem;

  --border-radius: 1.25rem;

  --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

@media screen and (max-width: 992px) {
  :root {
    --h1--font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    --logo-font-size: 1rem;
    --header-font-size-h1: 3rem;
    --header-font-size-h2: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  :root {
    --header-font-size-h1: 2.5rem;
    --header-font-size-h2: 1.25rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.7;
  height: 100%;
  font-weight: var(--font-medium);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

.section .container {
  padding-top: 3.9rem;
  padding-bottom: 4.75rem;
}

.section-title {
  font-size: var(--h1--font-size);
  margin-left: var(--m-0-75);
  margin-bottom: var(--m-0-5);
  font-family: var(--title-font);
}

.sub-title {
  margin-bottom: var(--m-2-5);
}

.padd-15 {
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.page-nav {
  padding: 3rem 0 0rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .nav {
    margin-top: -60px;
  }
}